{% extends "base.html" %}

{% block content %}
    <h1 >PARKING SYSTEM</h1>
    <p>O estacionamento no momento possui os seguintes registros:</p>
    <ul>
        <li><strong>Vagas:</strong> {{vagas}} </li>
        <li><strong>Carros:</strong> {{carros}} </li>
        <li><strong>Tickets emitidos:</strong> {{tickets}} </li>
    </ul class="mb-5">

    <a class="btn-primary rounded p-2 ml-4" href="{% url 'vaga_create'%}">Criar vaga</a>
    <a class="btn-primary rounded p-2 ml-2" href="">Adcionar carro</a>
    <a class="btn-primary rounded p-2 ml-2" href="">Abrir ticket</a>
{% endblock %}